.img_container { 
	position: relative; 
	z-index: 0
}

.campus_maps {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
	
	
	height: 40%;
	width: 40%;
	/*
	padding: 700px 0;
	*/
}

.main_map_container {
	margin-left: auto;
    margin-right: auto;
	
	
	display: block;
	height: 800px;
	width: auto;
	background-image: url("../Campus_Maps/NorthCampus_larger.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}



.floor_maps {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
	
	
	height: 80%;
	width: 80%;
	
}

.printButtons {
	position: absolute;
	/*
	top: 200px;
	left: 100px;
	*/
	z-index: 2;
	/*
	height: 90px;
	width: 60px;
	
	height: 9%;
	*/
	top: 45%;
	left: 20%;
	
	width: 3%;
	height: auto;
}


.printButtons_main {
	position: relative;
	/*
	top: 200px;
	left: 100px;
	*/
	z-index: 2;
	/*
	height: 90px;
	width: 60px;
	
	height: 9%;
	*/
	top: 54%;
	left: 31%;
	
	width: 3%;
	height: auto;
}

.index_back {
   background-image: url("../Misc/background.jpg");
   background-size:cover;
}

.mainMap_back {
   background-image: url("../Misc/background2.jpg");
}

.maps_container {
  display: flex;
}



.container {
  display: flex;
}
.left, .right {
  flex: 1;
}
.left {
	display: flex;
	flex-direction: column;

     
}
.right {
	flex: 9;
	height: 900px;
	width: auto;
	/*
	background-image: url("../Building_Maps/Duderstadt/f1.png");
	*/
	
	background-repeat: no-repeat;
	background-size: contain;

}

h1 {
	text-align: center;
}

