.img_container { 
	position: relative; 
	z-index: 0
}

.campus_maps {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
	
	
	height: 40%;
	width: 40%;
	/*
	padding: 700px 0;
	*/
}

.maps_container {
	margin-left: auto;
    margin-right: auto;
}

.floor_maps {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
	
	
	height: 80%;
	width: 80%;
	
}

.printButtons {
	position: absolute;
	/*
	top: 200px;
	left: 100px;
	*/
	z-index: 2;
	/*
	height: 90px;
	width: 60px;
	
	height: 9%;
	*/
	
	width: 3%;
	height: auto;
}

.index_back {
   background-image: url("../Misc/background.jpg");
   background-size:cover;
}

.mainMap_back {
   background-image: url("../Misc/background2.jpg");
}